__pycache__
node_modules

venv/
env/
ENV/
.vscode/

.DS_Store
.DS_Store

node_modules/
npm-debug.log

.env
.env.local
.env.*.local

*.log

docker-compose.override.yml

*.sqlite3

/frontend/dist/
/frontend/.cache/
/frontend/node_modules/

/backend/__pycache__/
/backend/*.pyc
